
*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
  }

/* About us section */
#photo-nurse{
    align-items: flex-end;
    width: 40%;
    object-fit: fill;
}
#photo-nurse img{
    object-fit: contain;
   width: 90%;
    height: auto;
}
.main-about{
  padding: 2.5rem 7%;
  position: relative;
  background-image: url(pattern.png);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about-heading{
  text-align: center;
}
.about-heading h1{
  color: #110f29;
  font-size: 45px;
}
.about-heading h1 span{
  color: #2d0f47;
}
.about-main-div{
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.main-inner-about{
  flex: 1 1 45rem;
}
#random{
    display: flex;
    
}
.about-right-content{
    width: 60%;
}
.about-right-content h2{
  color: #674188;
  font-size: 3rem;
}
.about-right-content h1{
  color: #110f29;
  font-size: 5rem;
  padding: 1rem 0;
}
.about-right-content p{
  font-size: 1.5rem;
  color: #2d0f47;
  padding: 1rem 0;
  line-height: 2;
  font-weight: bolder;
}
.teamimg{
  flex: 1;
  width: 100%;
  height: 65%;
}
.teamimg img{
  width: 100%;
    height: auto;
    object-fit: cover;
    border: 3px solid #2d0f47;
}
/* our doctor section started */

.main-our-doctors{
  padding: 2rem 7%;
}
.doctor-heading{
  padding: 2rem 0;
  text-align: center;
}
.doctor-heading h1{
  font-size: 45px;
  color: #150424;
}
.doctor-heading h1 span{
  
  color: #2d0f47;
}
.doctor-inner-main-div{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
  margin-right: 10px;
  margin-left: 10px;
  
}
.doctor-innerbox{
  flex: 1 1 250px;
  position: relative;
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem;
}
.doctor-innerbox::after{
  content: "";
  position: absolute;
  background: linear-gradient(0deg, white 50%, transparent);
  bottom: -200px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
 
}

.doctor-innerbox:hover:after{
  bottom: -100px;
}
.doctor-innerbox:hover .doctor-icons{
  left: 5%;
  cursor: pointer;
  font-size: 2rem;

}
.doctor-icons i:hover{
  border-top-left-radius: 15px;
  transform: scale(1.1);
}


.doctor-innerbox .teamimg img{
  width: 100%;
  border: 4px solid var(--color3);
  padding: 1rem;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.doctor-innerbox:hover .teamimg img{
transform: scale(1.05);
}

.doctor-icons{
  position: absolute;
  top: 5%;
  left: -100%;
  transition: 0.8s ease-in-out;
  
}
.doctor-icons i{
  padding: 1.7rem;
  border: 1px solid var(--color3);
  font-size: 1.5rem;
  color: var(--color5);
  background: white;
  margin: 0.5rem;
}

.doc-innernames{
  position: absolute;
  bottom: 10%;
  left: 20%;
  font-size: 1.2rem;
  color: #674188;
  z-index: 2;
  width: 100%;
  background: transparent;
  padding: 1rem;
  text-align: center;
  transition: background 0.3s ease;
}
.doc-innernames h2{
  margin: 0.5rem 0;
  font-size: 1.5rem;
}
.doc-innernames p{
  margin-top: 0;
  font-size: 1rem;
  font-weight: 300;
}
.wrapper {
  width: 95%;
  margin: 0 auto;
  background-image: url(pattern.png);
}
#search-container {
  margin: 1em 0;
}
#search-container input {
  background-color: transparent;
  width: 40%;
  border-bottom: 2px solid #110f29;
  padding: 1em 0.3em;
}
#search-container input:focus {
  border-bottom-color: #6759ff;
}
#search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #6759ff;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 0.5em;
}
.button-value {
  border: 2px solid #6759ff;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: #6759ff;
  cursor: pointer;
}
.active {
  background-color: #6759ff;
  color: #ffffff;
}
#products {
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Dynamic columns */
    grid-gap: 2rem; /* Gap between filtered items */
    width: 100%;
}
.card {
  background-color: #d089e5;
  max-width: 18em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}
.image-container {
  text-align: center;
}
img {
  max-width: 100%;
  object-fit: contain;
  height: 15em;
}
.container {
  padding-top: 1em;
  color: #110f29;
}
.container h5 {
  font-weight: 500;
}
.hide {
  display: none;
}
@media screen and (max-width: 720px) {
  img {
    max-width: 100%;
    object-fit: contain;
    height: 10em;
  }
  .card {
    max-width: 10em;
    margin-top: 1em;
  }
  #products {
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }
}